<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': appareilStatus === 'allumé',
  'list-group-item-danger': appareilStatus === 'éteint'
}">
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Status : {{ getStatus() }}</h4>
  <button class="btn btn-success"
          *ngIf="appareilStatus === 'éteint'"
          (click)="onSwitch()">allumer</button>
  <button class="btn btn-danger"
          *ngIf="appareilStatus === 'allumé'"
          (click)="onSwitch()">éteindre</button>
</li>
