<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>mes appareils</h2>
      <p>Mis à jour : {{ lastUpdate | async | date: 'y MMMM EEEE d' |  uppercase }}</p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"
                      [indexOfAppareil]="i"></app-appareil>
      </ul>
      <button class="btn btn-success"
              (click)="onLightUp()">Tout allumer</button>
      <button class="btn btn-danger"
              (click)="onSwitchOff()">Tout éteindre</button>
    </div>
  </div>
</div>
